<div class="row">
  <div class="col-md-3">
    <%= image_tag avatar_url(@user), class:"avatar-full" %>
    <div class="panel panel-default">
      <div class="panel-heading">
        Vérification
      </div>
      <div class="panel-body">
        Email:
        <%= @user.email %><br>
        Tél:
        <%= @user.phone_number %>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <h2><%= @user.fullname %></h2>
    <div class="description row-space-3">
      <%= @user.description %>
    </div>
  </div>

</div>