<% unless @room.errors.empty? %>
    <script type="text/javascript">
        <% @room.errors.full_messages.each do |msg| %>
            toastr.error('<%= msg %>')
        <% end %>
    </script>

<% end %>
