<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Adresse e-mail" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Mot de passe" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %> Se souvenir de moi
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Connexion", class: "btn btn-primary" %>

        <br>
        <br>
        <%= link_to "Connexion impossible ?", new_user_password_path, class:"btn btn-primary" %>

      </div>
    <% end %>

  </div>
</div>
