<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item">
        <%= link_to "Mes annonces", rooms_path, class:"sidebar-link active" %>
      </li>
    </ul>

    </div>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Mes annonces
      </div>
      <div class="panel-body">
        <% @rooms.each do |room| %>
        <div class="row">
          <div class="col-md-2">
            <%= image_tag room.photos[0].image.url(:thumb) if room.photos.length > 0 %>
          </div>

          <div class="col-md-7">
            <h4><%= room.listing_name %></h4>
          </div>
          <div class="col-md-3 right">
            <%= link_to "Mettre à jour", edit_room_path(room), class:"btn btn-primary" %>
          </div>
        </div>
        <hr>
        <% end %>
      </div>
    </div>
  </div>
</div>
