<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'AirCnC', root_path, { :class=>"navbar-brand" } %>
    </div>
    <div id="navbar" class="navbar-collapse collapse right">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to new_room_path do %>
            <i class="fa fa-home fa-lg"></i> Devenez hôte
          <% end %>
        </li>
        <% if (!user_signed_in?) %>
          <li><%= link_to 'Inscription', new_user_registration_path %></li>
          <li><%= link_to 'Connexion', new_user_session_path %></li>

        <% else %>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= image_tag avatar_url(current_user), class:"img-circle avatar-small" %><%= current_user.fullname %>
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Mes voyages", root_path %></li>
              <li><%= link_to 'Modifier mon profil', edit_user_registration_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Déconnexion', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% end %>

      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
