<!DOCTYPE html>
<html>
<head>
  <title>AirCnC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
<%= render 'layouts/navigation' %>

<%= render 'shared/message' %>

<div class="container"><%= yield %></div>

</body>
</html>
